.container{
    position: fixed;
    top: 0;
    width: 405px;
    height: 100%;
    min-height: 100%;
    background-color: #262626;
    z-index: 9999;
    box-sizing: border-box;
    padding: 50px 50px 30px;
    text-align: left;
    overflow: hidden;
    right: 0;
}

.paragraph{
    color: #cccccc;
    font-size: 12px;
    line-height: 22px;
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.link{
    padding: 10px 20px 0px 0px;
    color: #ffffff;
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.header{
    display: flex;
    justify-content: space-between;
}

.divider{
    border-top: solid;
    border-top-color: #99999999;
    border-top-width: 1px;
    
}

.followContainer{
    margin-top: 2em;
}

.follow{
    color: #cccccc;
}

@keyframes open{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes close{
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: translateX(-50px);
    }
}