.menu{
    display: flex;
    justify-content: space-between;
    width: 10rem;
}
.container{
    margin: 15px;
    height: 100%;
}
.title{
    font-size: 20px;
    font-weight: 700;
    color: #333;
    font-family: 'Playfair Display',sans-serif;
}

.text{
    margin: 14px 0 0;
    text-align: center;
}

.footerTitle{
    margin: 0 0 10px;
    font-weight: 400;
}